# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build Directories
build/

# IDE files
.vscode/

# Temp files
.bak/
.demo/
.MD/
output/
*.tmp

# Bazel build files
bazel-bin
bazel-out
bazel-sonic-cpp
bazel-testlogs
bazel-coverage-html

# Perf data
perf.data

# GDB
.gdbinit
gdb.txt

coverage.dat

# clangd cache files
.cache
